.App-header {
  background-color: #524763;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.headerLink {
  color: white;
  text-decoration: none;
}

main {
  width: 90%;
  margin: 1rem auto;

}

.button {
  background: #524763;
  color: white;
  text-decoration: none;
  padding: 5px 10px 10px 5px;
  border-radius: 5px;
}

.Posts-Listing {
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

.Posts-Listing li {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.Posts-Listing li  a{
  text-decoration: none;
  color: #020101e5
}

.Posts-Listing li a:hover{
  text-decoration: underline;
}

input, textarea {
  width: 100%;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
}

textarea {
  font-size: 1.4rem;
  height: 50vh;
}